// Font
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;500;700&display=swap");

// Variables
:root {
  $primaryColor: #fffc00;
  $secondaryColor: #455a64;
  $tertiaryColor: #ebebeb;
  $textColor: #393c43;
}

// Styles
body {
  font-family: "Montserrat", sans-serif;
}
